main {
  display: flex;
  flex-direction: column; 
  align-items: center;
  margin-top: 100px;
  gap: 20px;
}

.kort {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.arbeidskrav {
  width: 100%;
  display: flex;
  justify-content: center;
}